body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0049a2, #007bff);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #0049a2;
}

.login-container p {
    margin-bottom: 20px;
    font-size: 14px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #218838;
}

img{
    width: 60%;
    align-items: center;
    padding: 10%;

}